.CreateProduct
{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.form
{
    height: 400px;
    width: 400px;
    padding: 10px;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.form > .top
{
    text-align: center;
    height: 50px;
    font-size: 20px;
}
.form > .top:hover
{
    transition: border-bottom 5s ease-in;
    border-bottom:2px solid green ;
}
.form > .top > p
{
  padding-top:10px ;
}

.form > input
{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border-style:none ;
}
.form > button
{
    width: 100%;
    padding: 10px;
    border-style: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    background-color: green;
    color: white;
}